@import url(font_def/style.css);
@import url(navbar/style.css);
.notes_sec1 .links {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #001847;
  padding-top: 15px; }
  .notes_sec1 .links a {
    opacity: 0.5;
    text-decoration: none;
    color: #001847;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .notes_sec1 .links a:hover {
    opacity: 1; }

.notes_sec1 .work_space {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }
  .notes_sec1 .work_space .l {
    max-width: 295px;
    width: 100%;
    min-height: calc(100vh - 260px); }
  .notes_sec1 .work_space .r {
    max-width: calc(100% - 315px);
    width: 100%;
    position: relative;
    max-height: calc(100vh - 180px); }
    .notes_sec1 .work_space .r .notopisselected {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #7E8AA3; }

.notes_sec1 .option {
  border: 2px solid #397CFF;
  border-radius: 10px;
  margin-bottom: 14px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .notes_sec1 .option h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #001847;
    padding: 13px 18px;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently*/
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .notes_sec1 .option h3 .no {
      font-style: normal;
      font-weight: normal;
      font-size: 15.3987px;
      line-height: 25px;
      color: #0F5EF7;
      background: rgba(57, 123, 253, 0.1);
      width: 26px;
      border-radius: 100%;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-left: 7px;
      margin-top: 2px;
      opacity: 0;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .notes_sec1 .option h3 .rightline {
      position: absolute;
      right: 15px;
      top: 9px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .notes_sec1 .option h3 .rightline .line {
        width: 8px;
        height: 2px;
        background: #001847;
        display: inline-block;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
      .notes_sec1 .option h3 .rightline .line:nth-child(1) {
        transform: rotate(40deg);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      .notes_sec1 .option h3 .rightline .line:nth-child(2) {
        transform: rotate(-40deg);
        margin-left: -7px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px; }
  .notes_sec1 .option .inside {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .notes_sec1 .option .inside .inside_wrapper {
      padding-top: 11px; }
      .notes_sec1 .option .inside .inside_wrapper .op {
        border-top: 1px solid rgba(0, 24, 71, 0.05);
        padding-top: 15px;
        padding-bottom: 16px;
        padding-left: 78px;
        position: relative;
        cursor: pointer;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
        .notes_sec1 .option .inside .inside_wrapper .op .placeforimg {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: 78px; }
          .notes_sec1 .option .inside .inside_wrapper .op .placeforimg img {
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            margin: auto;
            top: 50%;
            transform: translateY(-50%); }
        .notes_sec1 .option .inside .inside_wrapper .op svg {
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translateY(-50%); }
          .notes_sec1 .option .inside .inside_wrapper .op svg .greenc {
            stroke: #2C3E50;
            opacity: 0.2;
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease; }
        .notes_sec1 .option .inside .inside_wrapper .op h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #001847; }
        .notes_sec1 .option .inside .inside_wrapper .op p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: rgba(0, 24, 71, 0.4);
          margin-top: -2px; }
      .notes_sec1 .option .inside .inside_wrapper .op:hover {
        background: rgba(0, 24, 71, 0.03); }
      .notes_sec1 .option .inside .inside_wrapper .op_active svg .greenc {
        stroke: #2FCB48;
        opacity: 1; }

.notes_sec1 .yellow_border {
  border-color: #F9BD2C; }

.notes_sec1 .green_border {
  border-color: #2FCB48; }

@media (min-width: 860px) {
  .notes_sec1 .option_active {
    border-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.03); }
    .notes_sec1 .option_active h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      padding-top: 25px;
      padding-left: 15px; }
      .notes_sec1 .option_active h3 .no {
        opacity: 1; }
      .notes_sec1 .option_active h3 .rightline {
        top: 20px; }
        .notes_sec1 .option_active h3 .rightline .line:nth-child(1) {
          transform: rotate(0); }
        .notes_sec1 .option_active h3 .rightline .line:nth-child(2) {
          transform: rotate(0); } }

.notes_sec1 .option_active .inside {
  max-height: 1500px; }

.notes_sec1 .title {
  background: #397CFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.03);
  border-radius: 10px 10px 0px 0px;
  padding: 25px 30px;
  position: relative;
  padding-right: 390px;
  white-space: nowrap; }
  .notes_sec1 .title h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis; }
  .notes_sec1 .title .buttons {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%); }
    .notes_sec1 .title .buttons .yellowbtn {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      color: #FFFFFF;
      background: #F9BD2C;
      border: 1px solid #F9BD2C;
      border-radius: 73px;
      text-decoration: none;
      padding: 12px 23px 12px 27px;
      margin-left: 13px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .notes_sec1 .title .buttons .yellowbtn img {
        vertical-align: top;
        display: inline-block;
        margin-right: 10px;
        margin-top: 2px; }
    .notes_sec1 .title .buttons .bluebtn {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      color: #FFFFFF;
      background: #397CFF;
      border: 1px solid #fff;
      border-radius: 73px;
      text-decoration: none;
      padding: 12px 23px 12px 20px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .notes_sec1 .title .buttons .bluebtn img {
        vertical-align: top;
        display: inline-block;
        margin-right: 10px; }
    .notes_sec1 .title .buttons .bluebtn:hover, .notes_sec1 .title .buttons .yellowbtn:hover {
      background: #001847;
      border-color: #001847; }

.notes_sec1 .content_wrapper {
  height: calc(100% - 83px);
  position: relative; }

.notes_sec1 .content {
  width: 100%;
  min-height: 50%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  overflow: auto;
  padding: 25px 30px; }
  .notes_sec1 .content h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #001847; }
  .notes_sec1 .content img {
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 9px; }
  .notes_sec1 .content p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 24, 71, 0.7);
    margin-top: 11px; }
    .notes_sec1 .content p .dot {
      color: #397CFF; }
    .notes_sec1 .content p .greenp {
      color: #fff;
      background: #2FCB48;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px; }
    .notes_sec1 .content p b {
      color: #397CFF; }

.notes_sec1 .right_content {
  display: none;
  width: 100%;
  height: 100%;
  margin-bottom: 30px; }

.notes_sec1 .content_active {
  display: block; }

@media (min-width: 860px) {
  .notes_sec1 {
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    .notes_sec1 *::-webkit-scrollbar {
      width: 4px; }
    .notes_sec1 *::-webkit-scrollbar-track {
      background: #E5E8ED;
      border-radius: 3px; }
    .notes_sec1 *::-webkit-scrollbar-thumb {
      background: #397CFF;
      border-radius: 3px; }
    .notes_sec1 *::-webkit-scrollbar-thumb:hover {
      background: #397CFF; }
    .notes_sec1 .selectedbtn, .notes_sec1 .title_phone, .notes_sec1 .xicon {
      display: none !important; } }

@media (max-width: 1300px) {
  .notes_sec1 .title h1 {
    font-size: 18px; } }

@media (max-width: 1000px) {
  .notes_sec1 .title {
    white-space: unset; }
  .notes_sec1 .title {
    padding: 20px; }
  .notes_sec1 .title .buttons {
    position: absolute;
    right: unset;
    top: unset;
    transform: unset;
    bottom: -60px;
    z-index: 99; }
  .notes_sec1 .title {
    overflow: unset; }
  .notes_sec1 .content_wrapper {
    height: 100%;
    position: relative;
    padding-top: 70px;
    background: #fff; } }

@media (max-width: 860px) {
  .notes_sec1 {
    padding-top: 90px; }
  .notes_sec1 .work_space {
    display: block; }
    .notes_sec1 .work_space .l, .notes_sec1 .work_space .r {
      width: 100%;
      max-width: 100%;
      min-height: unset; }
    .notes_sec1 .work_space .r .notopisselected {
      padding-top: 70px; }
  .notes_sec1 .option .inside:before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); }
  .notes_sec1 .option .inside {
    max-height: unset !important;
    overflow: auto !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    opacity: 0;
    visibility: hidden; }
    .notes_sec1 .option .inside .xicon {
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 9999; }
    .notes_sec1 .option .inside .title_phone {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: #001847;
      padding: 30px 16px 10px 16px; }
      .notes_sec1 .option .inside .title_phone span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #0F5EF7;
        max-width: 26px;
        text-align: center;
        background: rgba(57, 123, 253, 0.1);
        border-radius: 100%;
        display: inline-block;
        width: 100%;
        margin-left: 10px; }
    .notes_sec1 .option .inside .selectedbtn {
      margin-top: 15px; }
      .notes_sec1 .option .inside .selectedbtn a {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        padding: 14px;
        display: block;
        background: #397CFF;
        border-radius: 73px;
        width: calc(100% - 30px);
        margin: auto; }
    .notes_sec1 .option .inside .inside_wrapper_phone {
      z-index: 99999;
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.03);
      overflow: hidden;
      max-height: 100%;
      max-width: 570px;
      width: calc(100% - 15px);
      border-radius: 10px 10px 0px 0px;
      max-height: 70vh !important;
      height: 70vh;
      margin: auto;
      margin-bottom: -70vh;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .notes_sec1 .option .inside .inside_wrapper_phone .inside_wrapper {
        overflow: auto;
        max-height: calc(70vh - 140px);
        min-height: calc(70vh - 140px); }
  .notes_sec1 .option_active .inside {
    visibility: visible;
    opacity: 1; }
    .notes_sec1 .option_active .inside .inside_wrapper_phone {
      margin-bottom: 0; } }

@media (max-width: 590px) {
  .notes_sec1 .option .inside .inside_wrapper_phone {
    max-width: 345px; }
  .notes_sec1 .option .inside .title_phone {
    padding-top: 20px;
    padding-bottom: 15px; }
  .notes_sec1 .option .inside .xicon {
    top: 25px;
    right: 20px; }
  .notes_sec1 .content {
    padding: 15px 10px; }
  .notes_sec1 .title {
    padding: 15px; }
  .notes_sec1 .title h1 {
    font-size: 14px;
    line-height: 21px; }
  .notes_sec1 .title .buttons .yellowbtn, .notes_sec1 .title .buttons .bluebtn {
    width: calc(50% - 2px);
    margin: 0;
    padding: 12px 0px;
    text-align: center;
    font-size: 13px; }
    .notes_sec1 .title .buttons .yellowbtn img, .notes_sec1 .title .buttons .bluebtn img {
      margin-right: 3px; }
  .notes_sec1 .title .buttons {
    left: 0;
    right: 0;
    width: calc(100% - 5px);
    display: block;
    margin: auto;
    display: flex;
    justify-content: space-between; } }

@media (max-width: 340px) {
  .notes_sec1 .title .buttons .yellowbtn img, .notes_sec1 .title .buttons .bluebtn img {
    display: none; } }
