@import "font_def/style.css";
@import "sign_up_navbar/style.css";


.sign_up_step1{
	padding-bottom: 50px;
	.content_area{
		max-width: 972px;
		min-height: 635px;
		background: #fff;
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.03);
		border-radius: 10px;
		overflow: hidden;
		margin: auto;
		display: block;
		margin-top: 36px;
		padding: 108px 498px 80px 60px;
		position: relative;
		h2{
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 36px;
			text-align: center;
			color: #001847;
		}
		p{
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			text-align: center;
			color: #7D889C;
			margin-top: 3px;
			margin-bottom: 22px;
		}
		
		.customradiobtns{
			.container {
			  display: block;
			  position: relative;
			  margin-bottom: 12px;
			  cursor: pointer;
			  -webkit-user-select: none;
			  -moz-user-select: none;
			  -ms-user-select: none;
			  user-select: none;
			}

			/* Hide the browser's default radio button */
			.container input {
			  position: absolute;
			  opacity: 0;
			  cursor: pointer;
			}

			.box{
				width: 100%;
				padding: 21px 20px 25px 145px;
				min-height: 116px;
				border: 2px solid rgba(0, 24, 71, 0.1);
				border-radius: 10px;
				position: relative;
				margin-bottom: 14px;
				img{
					position: absolute;
					left: 60px;
					top: 50%;
					transform: translateY(-50%);
				}
				h3{
					font-style: normal;
					font-weight: normal;
					font-size: 18px;
					line-height: 27px;
					color: #000000;
					text-align: left;
				}
				p{
					margin: 0;
					font-style: normal;
					font-weight: normal;
					font-size: 13px;
					line-height: 19px;
					color: #7D889C;
					margin-top: 3px;
					text-align: left;
				}
			}

			.container input:checked ~ .box {
			  border: 2px solid #397CFF;
			}

		}

		.blue_btn{
			margin-top: 25px;
			button{
				display: block;
				width: 100%;
				background: #397CFF;
				border-radius: 4px;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 21px;
				text-align: center;
				color: #FFFFFF;
				padding: 14px;
				border: 0;
				text-decoration: none;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
			button:hover{
				background: #001847;
			}
		}

		.right_side_step1{
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			max-width: 438px;
			background: url("../img/sign_up_bg2.svg"), linear-gradient( #397CFF 100%, #397CFF 100%);
			border-radius: 0px 10px 10px 0px;
			width: 100%;
			padding: 54px 45px;
			h2{
				color: #fff;
			}
			ul{
				padding: 0;
				margin: 0;
				margin-top: 27px;
				li{
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 21px;
					color: #FFFFFF;
					padding-left: 46px;
					position: relative;
					list-style-type: none;
					letter-spacing: 0.004rem;
					margin-bottom: 24px;
					img{
						position: absolute;
						left: 9px;
						top: 0;
					}
				}
			}
		}
	}
}




// responsive
@media(max-width: 1000px){
	.sign_up_step1 .content_area{
		max-width: 850px;
		padding: 54px 410px 80px 50px;
	}
	.sign_up_step1 .content_area .right_side_step1{
		max-width: 360px;
		background: url(../img/sign_up_bg2.svg) center 10px no-repeat, linear-gradient(#397CFF 100%, #397CFF 100%);
	}
}
@media(max-width: 860px){
	.sign_up_step1 .content_area, .sign_up_step3 .content_area{
		padding: 0;
		background: transparent;
		box-shadow: none;
	}
	.sign_up_step1 .content_area .right_side_step1{
		position: relative;
		max-width: 100%;
		left: 0;
		right: 0;
		margin-top: 30px;
		border-radius: 10px;
		padding-bottom: 355px;

		background: url(../img/sign_up_bg2.svg) no-repeat center -150px, linear-gradient(#397CFF 100%, #397CFF 100%);
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
}
@media(max-width: 590px){
	.sign_up_step1 .content_area h2{
		font-size: 24px;
		line-height: 36px;
	}
	.sign_up_step1 .content_area .customradiobtns .box img{
		left: 15px;
	}
	.sign_up_step1 .content_area .customradiobtns .box{
		padding: 15px 15px 15px 95px;
		min-height: unset;
	}
	.sign_up_step1 .content_area .right_side_step1{
		padding: 30px 20px;
		padding-bottom: 170px;
		background-position: right;
	}
	.sign_up_step1 .content_area .right_side_step1 ul{
		margin-top: 15px;
	}
	.sign_up_step1 .content_area .right_side_step1 ul li{
		margin-bottom: 10px;
		font-size: 12px;
		line-height: 135%;
		max-width: 230px;
		margin-left: auto;
		margin-right: auto;
	}
	.sign_up_step1 .content_area .right_side_step1{
		padding-bottom: 230px;
	}
	.sign_up_step1 .content_area h2{
		font-size: 20px;
		line-height: 30px;
	}
	.sign_up_step1 .content_area .right_side_step1 ul li img{
		left: 0;
	}
	.sign_up_step1 .content_area .right_side_step1 ul li{
		padding-left: 30px;
	}
}