.sign_up_navbar{
	padding-top: 49px;
	img{
		display: block;
		max-width: auto;
		max-width: 198px;
		width: 100%;
		margin: auto;
	}
	.complited_line:before{
		content: '';
		position: absolute;
		width: 441px;
		height: 2px;
		background: #E9EBFB;
		margin: auto;
		display: block;
		left: 0;
		right: 0;
		top: 9px;
	}
	.complited_line{
		max-width: 537px;
		margin: auto;
		margin-top: 31px;
		display: flex;
		justify-content: space-between;
		position: relative;
		.step{
			.circle{
				background: #E9EBFB;
				width: 20px;
				height: 20px;
				border-radius: 100%;
				display: block;
				margin: auto;
				position: relative;
			}
			.circle:after{
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				background: #fff;
				border-radius: 100%;
				margin: auto;
				display: block;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			p{
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 21px;
				text-align: center;
				color: #001847;
				margin-top: 6px;
			}
		}
		.active_step{
			.circle{
				background: #397CFF;
			}
		}
		.finished_step{
			.circle{
				background: #397CFF;
			}
			.circle:after{
				content: '';
				position: absolute;
				width: 10px;
				height: 7px;
				background: transparent;
				background: url(../../img/white_check.svg) no-repeat;
				border-radius: 100%;
				margin: auto;
				display: block;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}


// responsive
@media(max-width: 1000px){
	
}
@media(max-width: 860px){
	
}
@media(max-width: 590px){
	.sign_up_navbar .complited_line .step p{
		font-size: 12px;
		line-height: 18px;
		span{
			display: none;
		}
	}
	.sign_up_navbar .complited_line:before{
		width: 210px;
	}
	.sign_up_navbar .complited_line {
	    max-width: 280px;
	}
}
